---
import Text from '@/components/common/Text/Text.astro';
import { LIST_DATA_FOOTER, LIST_SOCIAL_FOOTER } from '@/constants';
---

<footer class="container" data-aos="fade-up">
  <div class="flex flex-wrap mx-auto xl:flex-nowrap xl:px-16 pt-[60px] pb-10">
    <div class="w-full xl:w-auto xl:mr-16 xl:py-4">
      <a href="/">
        <img src="/logo.svg" alt="logo" />
      </a>
    </div>
    {
      LIST_DATA_FOOTER.map((item) => (
        <div class="py-4 w-full sm:w-1/2 md:w-1/3 lg:w-1/4">
          <h4 class="text-lg text-grey-600 font-bold mb-2">{item.heading}</h4>
          <ul>
            {item.children.map((child) => {
              return child.icon ? (
                <li class="my-3">
                  <img src={child.icon} alt={child.name} />
                </li>
              ) : (
                <li class="p-1 my-1">
                  <a class="text-base text-grey-400" href={child.href} href="">
                    {child.name}
                  </a>
                </li>
              );
            })}
          </ul>
        </div>
      ))
    }
  </div>
  <div
    class="flex justify-between items-center xl:px-16 py-4 border-t border-grey-200 border-solid"
  >
    <div class="flex">
      {
        LIST_SOCIAL_FOOTER.map((item) => (
          <div class="p-2">
            <img src={item.icon} alt="icon" />
          </div>
        ))
      }
    </div>
    <Text className="text-xs">© 2020 Tripma inc</Text>
  </div>
</footer>
