---
import { SELECT_FLIGHT, LIST_MENU_PAYMENT } from '@/constants';
import Checkbox from '@/components/common/Checkbox/Checkbox.astro';
import Input from '@/components/common/Input/Input.astro';
import iconGoogle from '/icons/googlefill.svg';
import iconApple from '/icons/apple-mac.svg';
import iconFace from '/icons/facebookFill.svg';
import Text from '@/components/common/Text/Text.astro';
import NavPayment from './NavPayment.astro';
import Button from '@/components/common/Button/Button.astro';
import FlightDetail from '../FlightDetail/FlightDetail.astro';

let isFilled = true;
---

<section class="container px-24 pt-12 py-24">
  <div class="flex">
    <div class="w-3/5">
      <h1 class="text-2xl text-primary font-bold mb-6">Payment method</h1>
      <Text className="mb-6">
        Select a payment method below. Tripma processes your payment securely
        with end-to-end encryption.
      </Text>
      <div
        class="border border-solid border-primary mb-10 min-w-full rounded flex"
      >
        <NavPayment listMenu={LIST_MENU_PAYMENT} />
      </div>
      <Text color="secondary" className="font-semibold mb-6">
        Credit card details
      </Text>
      <Checkbox label="Billing address is same as Passenger 1" />
      <div class="flex flex-wrap max-w-[480px] gap-6 mt-6 mb-10">
        <Input className="w-full" placeholder="Name on card" />
        <Input className="w-full" placeholder="Card number" />
        <div class="flex gap-x-6">
          <Input className="w-[240px]" placeholder="Expiration date" />
          <Input className="w-full" placeholder="CCV" />
        </div>
      </div>
      <Text color="secondary" className="font-semibold mb-4">
        Create an account
      </Text>
      <Text className="mb-6">
        Tripma is free to use as a guest, but if you create an account today,
        you can save and view flights, manage your trips, earn rewards, and
        more.
      </Text>
      <Checkbox label="Billing address is same as Passenger 1" />
      <div class="max-w-[480px] mt-6 mb-12">
        <Input
          className="w-full mb-6"
          placeholder="Email address or phone number"
        />
        <Input className="w-full" placeholder="Password" />
        <div
          class="relative w-[calc(100%-20px) h-[1px] bg-grey-200 mx-auto] mt-14 mb-8"
        >
          <Text
            className="absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 bg-white px-2.5"
          >
            or
          </Text>
        </div>
        <div class="relative mb-3">
          <img
            class="absolute top-1/2 -translate-y-1/2 left-5"
            src={iconGoogle}
            alt=""
          />
          <Button className="w-full" intent="secondary" size="large">
            Sign up with Google
          </Button>
        </div>
        <div class="relative mb-3">
          <img
            class="absolute top-1/2 -translate-y-1/2 left-5"
            src={iconApple}
            alt=""
          />
          <Button className="w-full" intent="secondary" size="large">
            Sign up with Google
          </Button>
        </div>
        <div class="relative mb-12">
          <img
            class="absolute top-1/2 -translate-y-1/2 left-5"
            src={iconFace}
            alt=""
          />
          <Button className="w-full" intent="secondary" size="large">
            Sign up with Google
          </Button>
        </div>
      </div>
      <Text color="secondary" className="font-semibold mb-4">
        Create an account
      </Text>
      <Text size="small">
        This flight has a flexible cancellation policy. If you cancel or change
        your flight up to 30 days before the departure date, you are eligible
        for a free refund. All flights booked on Tripma are backed by our
        satisfaction guarantee, however cancellation policies vary by airline.
        See the full <span class="text-primary">cancellation policy</span> for this
        flight.
      </Text>
      <div class="mt-14 flex gap-x-6">
        <a
          href="/bookseat"
          class="rounded px-5 py-2.5 mt-8 mb-[104px] text-lg border border-primary text-primary hover:bg-purple-light"
          >Back to seat select</a
        >
        <a
          href="/payment-success"
          class={`rounded px-5 py-2.5 mt-8 mb-[104px] text-lg ${
            isFilled
              ? 'bg-primary text-grey-100 hover:bg-purple-dark'
              : 'bg-grey-200/[.3] text-grey-400 cursor-not-allowed'
          }`}>Confirm and pay</a
        >
      </div>
    </div>
    <div class="ml-[160px] flex flex-col items-end">
      <FlightDetail listSelectedFlight={SELECT_FLIGHT} />
      <a
        href="/payment-success"
        class={`rounded px-5 py-2.5 mt-8 mb-[104px] text-lg ${
          isFilled
            ? 'bg-primary text-grey-100 hover:bg-purple-dark'
            : 'bg-grey-200/[.3] text-grey-400 cursor-not-allowed'
        }`}>Confirm and pay</a
      >
    </div>
  </div>
</section>
