---
import Dropdown from '@/components/common/Dropdown/Dropdown.astro';
import arrivalDownIcon from '/icons/arrival-down.svg';
import arrivalUpIcon from '/icons/arrival-up.svg';
import personIcon from '/icons/person.svg';
import calendarIcon from '/icons/calendar.svg';
import { LIST_DATA_ADULT, LIST_DATA, LIST_DATA_FILTER } from '@/constants';
import Button from '@/components/common/Button/Button.astro';
---

<form
  data-aos="fade-down"
  on:submit|preventDefault
  class="flex flex-col items-center lg:items-start mb-12"
>
  <div
    class="w-full sm:w-[420px] lg:w-fit flex justify-center items-center lg:border-2 border-solid border-grey-200 flex-wrap mb-6"
  >
    <div
      class="flex flex-wrap border-2 border-solid border-grey-200 rounded lg:border-none lg:rounded-none"
    >
      <Dropdown
        listDropdown={LIST_DATA}
        icon={arrivalUpIcon}
        placeholder="From where?"
        className="w-[calc(50%-1px)] sm:min-w-[175px] lg:w-auto"
      />
      <span class="inline-block sm:h-[49px] h-[56px] w-0.5 bg-grey-200"></span>
      <Dropdown
        listDropdown={LIST_DATA}
        icon={arrivalDownIcon}
        placeholder="Where to?"
        className="w-[calc(50%-1px)] sm:min-w-[175px] lg:w-auto"
      />
      <span class="w-full h-0.5 lg:h-[49px] lg:w-0.5 bg-grey-200"></span>
      <Dropdown
        icon={calendarIcon}
        listDropdown={LIST_DATA}
        placeholder="Date - return"
        className="w-full lg:w-[252px]"
      />
    </div>
    <span class="hidden lg:inline-block h-[49px] w-0.5 bg-grey-200"></span>
    <Dropdown
      listDropdown={LIST_DATA_ADULT}
      icon={personIcon}
      placeholder="1 adult"
      className="hidden lg:block min-w-[175px] w-auto"
      type="counter"
    />
    <Button
      intent="primary"
      className="max-w-[415px] w-full lg:w-auto px-5 py-2.5 mt-4 lg:mt-0"
    >
      Search
    </Button>
  </div>
  <div class="max-w-[420px] lg:max-w-none flex gap-4 flex-wrap">
    {
      LIST_DATA_FILTER.map((itemFilter) => (
        <Dropdown
          className="py-0"
          border="border-grey-200"
          isLabel
          listDropdown={LIST_DATA}
          placeholder={itemFilter.name}
        />
      ))
    }
  </div>
</form>
